@import "~react-image-gallery/styles/css/image-gallery.css";
.map_wrap {
  position: relative;
  width: 100%;
  height: 350px;
}
.title {
  font-weight: bold;
  display: block;
}
.hAddr {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 5px;
}
#centerAddr {
  display: block;
  margin-top: 2px;
  font-weight: normal;
}
.bAddr {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}

.bAddr_info {
  font-weight: normal;
  font-size: 0.9em;
}

.card {
  border-radius: 15px;
  width: 18rem;
  height: 17rem;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 7px 1px rgba(141, 141, 141, 0.8);
}

.card_image {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 11rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.card_title {
  font-weight: 600;
  font-size: 1em;
  width: 90%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_address {
  font-size: 0.9em;
  width: 90%;
  opacity: 0.8;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_likes {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.gallery-enter {
  opacity: 0;
}

.gallery-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.gallery-exit {
  opacity: 1;
}
.gallery-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
